#file{
    background-color: rgb(233, 208, 129);
    box-shadow: 0px 2px 10px ;
}


.navigation{
    border: 2px;
}

.nav1{
    
    font-size: 15px;
    display: flex; 
    align-items: center;
    justify-content: center;

    padding: 0px 50px;

}

.nav1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 6px;
}
.nav1 {
    float: none;
  position: absolute;
  left: 20%;
}

.nav2{
    float: right;
    display: inline-block;
}
.nav2 button{
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgb(98, 98, 98);
    background: linear-gradient(rgb(252, 181, 123) ,rgb(243, 196, 146));
    color: rgb(12, 12, 12);
    border-radius: 5px;
    padding: 3px 25px;
}
.BannerImage{
    height: 250px;
    margin-top: 30px;
}


.feature{
    height: 250px;
    /* display: flex; */
    /* justify-content: space-between; */
}
.feature img{
    height: 250px;
    width: 25%;
}

.image1{
    padding: 20px;

}
.image1 p{
    font-size: 10px;
}
